server {
    listen {{ item.host_port }};

    location / {
        proxy_pass http://{{ k3s_master_ip }}:{{ item.node_port }};
        proxy_set_header Host {{ item.host_header | default('$host') }};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}