# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
production.tfvars
staging.tfvars


# Others
.vault_pass
production_kubeconfig.yaml
staging_kubeconfig.yaml
test

# Ansible Inventory
inventory.production.ini
inventory.staging.ini