- name: Apply common configuration to all VMs
  hosts: vms
  roles:
    - common

- name: Setup K3s Master
  hosts: k3s_server
  become: true
  roles:
    - k3s_master

- name: Join K3s Workers
  hosts: k3s_agents
  become: true
  roles:
    - k3s_agent

- name: Bootstrap Flux
  hosts: k3s_server
  become: true
  roles:
    - flux

- name: Setup Host Nginx
  hosts: fedora
  become: true
  roles:
    - configure-nginx-ips